<section class = "banner">
    <app-navigation></app-navigation>
    <div class="banner__content">
    <div class="banner-copy">
   <div class="heading"> Ready to Launch E-commerce Design Solutions for <span class="highlight">Brand-Focused</span> Entrepreneurs.</div>
    <p>Thought to MVP studio designs and develops custom, brand powerful online solutions for Entrepreneurs that are brand focused.
        Whether you are building a new product or revamping an existing one.  </p>
        <button (click)="scrollTo('pricing')">See Pricing</button>
        </div>
        <img src="assets/images/banner-image.png">
    </div>
</section>