<section class = "banner">
    <app-navigation></app-navigation>
    <div class="banner__content">
    <div class="banner-copy">
   <div class="heading"> Search Engine Optimized (SEO) E-commerce Design Solutions for <span class="highlight">Brand-Focused</span> Entrepreneurs.</div>
    <p>An online store is essentially invisible if customers are unable to discover it.We design custom brand-focused online stores that are optimized for search engines (SEO). </p>
        <button (click)="scrollTo('pricing')">See Pricing</button>
        </div>
        <img src="assets/images/banner-image.png" onContextMenu="return false;">
    </div>
</section>