.footer {
    // padding: 3em 0;
    

    &__content {
        display: flex;
        flex-direction: column;
        gap: 6em;
        font-family: "Rajdhani", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin: 1.5em 4em;

        @media(min-width:768px) {
            flex-direction: row;
            margin: 3.5em 4em;
        }

        h3{
            padding: 1em 0;
        }

        .summary{
            width: 70vw;

            @media(min-width: 1280px) {
                width: 34vw;
            }

            img {
                height: 10vh;
                padding: 2em 0;
            }
        }
    }

    .copyright {
        padding: 2em 3em;
        font-family: "Rajdhani", sans-serif;
        background: black;
        color: white;
    }
}