<section class="footer">
    <hr>
<div class="footer__content">
<div class="summary">
    <h3>About Us</h3>
    <img src="assets/images/thoughttomvplogo.png">
    <p>Thought to MVP studio designs and develops custom, brand powerful online solutions for entreprenuers that are brand focused.
        Whether you are building a new product or revamping an existing one.</p>
</div>
<div class="connectwithus">
    <h3>Connect with us</h3>
    <span class="social-media"></span>
    <p>Whatsapp: 0711910652</p>
    <p>hello&#64;thoughttomvpestores.co.za</p>
    <p>thoughttomvp&#64;gmail.com</p>

</div>
</div>
<!-- <hr> -->
<div class="copyright">
    &#169;Thought to MVP Design Studio
</div>
</section>
