<section class="pricing">
  <div class="pricing__content">
    <!-- <div class="pricing-copy">
      <div class="heading">Pricing & Process To Your Dream Store.</div>
      <ol>
        <li>We Send you a Quotation. </li>
        <li>Pay 50% deposit.</li>
        <li>Send proof of payment to payments&#64;thoughttomvpesstores.co.za (EFT Payments)</li>
        <li>Get Google Drive Link.</li>
        <li>Upload your Product Images, Pricing List, Product Description, Logo, Colors.</li>
        <li>We Start Building a Brand-Focused Online Store.</li>
        <li>Revise and Approve.</li>
        <li>Launch.</li>
        <li>Get an invoice.</li>
        <li>Pay Balance.</li>
      </ol>
    </div> -->
    <div class="pricing-cards">
      <div class="pricing-card">
        <div class="card-image"><img src="assets/images/card-img.png"></div>
        <div class="card-title">
          Ready to Launch MVP Online Store
        </div>
        <hr>
        <div class="card-price">
          R 15 550
        </div>
        <ul>
          <li>Fully Functional Online Store</li>
          <li>Brand Focused Design</li>
          <li>Search Engine Optimization (SEO)</li>
          <li>Payment Gateway Integration</li>
          <li>Manage Stock & Orders</li>
          <li>Social Media Integration</li>
          <li>Support Integration: Whatsapp</li>
          <li>Shop Management Traning</li>
        </ul>
      </div>

      <div class="pricing-card">
        <div class="card-image"><img src="assets/images/card-img.png"></div>
        <div class="card-title">
          Ready to Launch MVP Online Store + Blog
        </div>
        <hr>
        <div class="card-price">
          R 19 550
        </div>
        <ul>
          <li>Fully Functional Online Store</li>
          <li>Brand Focused Design</li>
          <li>Search Engine Optimization (SEO)</li>
          <li>Payment Gateway Integration</li>
          <li>Manage Stock & Orders</li>
          <li>Social Media Integration</li>
          <li>Support Integration: Whatsapp</li>
          <li>Shop Management Traning</li>
          <li>Interactive Blog</li>
          <li>E-newsletter Design</li>
          <li>E-mail Marketing Platform Setup</li>
        </ul>
      </div>

      <div class="pricing-card">
        <div class="card-image"><img src="assets/images/card-img.png"></div>
        <div class="card-title">
          Ready to Launch MVP Online Store + More Features
        </div>
        <hr>
        <div class="card-price">
          <span class="price-highlight">from</span> R 22 350
        </div>
        <ul>
          <li>Fully Functional Online Store</li>
          <li>Brand Focused Design</li>
          <li>Search Engine Optimization (SEO)</li>
          <li>Payment Gateway Integration</li>
          <li>Manage Stock & Orders</li>
          <li>Social Media Integration</li>
          <li>Support Integration: Whatsapp</li>
          <li>Shop Management Traning</li>
          <li>Interactive Blog</li>
          <li>E-newsletter Design</li>
          <li>E-mail Marketing Platform Setup</li>
          <li>+ Custom Features</li>

        </ul>
      </div>
    </div>
  </div>
</section>
