<section class = "banner">
    <div class="banner-copy">
   <div class="heading"> Ready to Launch Ecommerce Design Soultions for Emerging Luxury Brands. </div>
    <p>Thought to MVP studio designs and develops custom, brand powerful online solutions for entreprenuers that are brand focused.
        Whether you are building a new product or revamping an existing one.  </p>
        <button>See Features</button>
        </div>
        <div class="banner-image">
        <img src="/assets/images/banner-image.png">
    </div>
</section>
